body {
    background: linear-gradient(135deg, #0d1b2a, #001f3f);
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    border-radius: 12px;
    width: 320px;
    cursor: pointer;


}
.bon de réduction {
    text-align: center;
    margin-top: 20px;   /* espace depuis le haut */
}

.container {
    color: #FFFFFF;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background: #4B5A74;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;

}   
.form{
    background-color: #2F3A4D;
    padding: 30px;
    border-radius: 10px;
}
.cta-button {
    width: 100%;
    padding: 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
}
.cta-button:hover {
    background-color: #FF4C4C;
    transform: scale(1.05);
}