* {
    box-sizing: border-box;
}
body {
    background-color: #0F1B32;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
}

.dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #08FF00;
   
}

.dot-a {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #FF0000;
    
}

.dot-b {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #283B5C;
    
}

.page h1 {
    color: #FFFFFF;
    text-align: center;
}
.page p {
    color: #5A77AB;
    text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 160px); 
  gap: 10px; 
  max-width: 500px;
  margin: auto; 
  justify-content: center;
}

