body{
  background: linear-gradient(135deg, #0d1b2a, #001f3f);
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
}
.img{
    width: 486%;
    height: 324px;
    border-radius: 12px;
}